[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pytest-django = "*"
model-mommy = "*"
pytest-cov = "*"

[packages]
django = "*"
django-environ = "*"
slackclient = ">=2.0.0"
ujson = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
whitenoise = "*"
praw = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
